/* Sección Hero (Banner principal) */
.hero {
    text-align: center;
    padding: 4rem 1rem;
    background-color: #1c1c1c;
    border-bottom: 2px solid #ff7b00;
}

.hero h1 {
    font-size: 3rem;
    color: #ff7b00;
    margin-bottom: 0.5rem;
}

.hero p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
}