.productos-tabla {
    height: 500px;
    width: 100%;
    margin: 1%;
}

.productos-container {
    padding: 1%;
    height: 100%;
    overflow-x: auto;
    /* Permitir scroll horizontal en pantallas más chicas */
    margin: 0 auto;
    max-width: 1700px;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin: 0;
    background-color: #1c1c1c;
    min-width: 800px;
    /* Mínimo de anchura */
}

th {
    background-color: #ff7b00;
    color: white;
    text-align: left;
    padding: 15px 20px;
    font-weight: bold;
    border-right: 1px solid #f8a658;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

th:first-child {
    border-top-left-radius: 8px;
    border-left: none;
    /* Borde redondeado SOLO arriba a la izquierda */
}

th:last-child {
    border-top-right-radius: 8px;
    border-right: none;
    /* Borde redondeado SOLO arriba a la derecha */
}

td {
    border: 1px solid #ff7b00;
    text-align: left;
    padding: 12px 20px;
    vertical-align: top;
    font-size: 0.95em;
}

tbody tr {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* Efecto de transicion*/
}

tbody tr:hover {
    background-color: #f8a658;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(255, 123, 0, 0.6);
}